In [102]:
import os
import os
import csv
import pyodbc
import pandas as pd

In [103]:
#  conn = pyodbc.connect('DSN=HAPRDDTA;UID=username;PWD=password')

# conn = pyodbc.connect('DSN=HAPRDDTA;UID=username;PWD=password')
# sql = "Select * from HDPTMAP where consultant = '355' and Insurecode = 'NTPF' AND Hospital = 'SF'"
# data = pd.read_sql(sql,conn)
# print(data)

'''
HDCIRFP _ Table attributes

CONSULTANT	
INSURECODE	
INSURECON	
BILLTEXT


HDCIRFP

CONSULTANT	353
INSURECODE 'VHI '	
INSURECON	#####
BILLTEXT 	Dr Osama

353.01.2023 (#####)

HAScode.month.year (inscode)
'''

"\nHDCIRFP _ Table attributes\n\nCONSULTANT\t\nINSURECODE\t\nINSURECON\t\nBILLTEXT\n\n\nHDCIRFP\n\nCONSULTANT\t353\nINSURECODE 'VHI '\t\nINSURECON\t#####\nBILLTEXT \tDr Osama\n\n353.01.2023 (#####)\n\nHAScode.month.year (inscode)\n"

In [104]:
## change the location fo the folder
# \\Hasserver\vhi
try:
    os.chdir(r'\\Hasserver\vhi')
    
    Sent = 'sent_IR'
    
except:
    
    print('error in locating the mentioned directory')
    
finally:
    print('The directory has been found successfully')
    counter = 0
    jpg = 0
    pdf = 0
    for f in os.listdir():
        file_name, file_exc = os.path.splitext(f)
        counter += 1
        if file_exc == '.jpg':
            jpg +=1
        elif file_exc == '.PDF':
            pdf +=1
                
print('Total number of files in the folder:' + str(counter))
print('Total number of jpg files:'+ str(jpg))
print('Total number of pdf files:'+ str(pdf))

The directory has been found successfully
Total number of files in the folder:159
Total number of jpg files:0
Total number of pdf files:158

In [105]:
# for f in os.listdir():
#     counter += 1
#     file_name, file_exc = os.path.splitext(f)
#     file_name_split = file_name.split('_')
#     print(file_name_split)

In [106]:
import numpy as np
print('please find the below list of files that exist in the directory')
counter = 0
other = 0
columns = ['IAS' , 'PRACT', 'LISTING' , 'SFTP','Date','Account Management','Practitioner Code','Policy Number']
df = pd.DataFrame(columns=[columns])

for f in os.listdir():
    counter += 1
    file_name, file_exc = os.path.splitext(f)
    file_name_split = file_name.split('_')
    
    size = len(file_name_split)
    if size == 8:
        df.loc[len(df)] = file_name_split
    else:
        other +=1
        print('The number of files in unusual names:' + ' '+ str(other))   
    



print('All the file name has been uppended to the dataframe df')    
    # print(df)
    # print(file_name_split)
    # print(type(file_name_split))

please find the below list of files that exist in the directory
The number of files in unusual names: 1
All the file name has been uppended to the dataframe df

In [107]:
df = df.drop(['IAS', 'PRACT','SFTP','Policy Number','LISTING'], axis=1, level=0)

In [111]:
df

         Date Account Management Practitioner Code
0    20221205                HAS             10042
1    20221205                HAS             10127
2    20221205                HAS             10174
3    20221205                HAS             10191
4    20221205                HAS             10193
..        ...                ...               ...
153  20221205                HAS              9190
154  20221205                HAS              9308
155  20221205                HAS              9331
156  20221205                HAS              9610
157  20221205                HAS              9636

[158 rows x 3 columns]

In [126]:
# s='355879ACB6'
#  s[:4] + '-' + s[4:]
# # converting to string data type
# df["Date"]= df["Date"].astype(str)
# df["year"]= df["Date"].str.slice(0, 5,4)
# # https://www.geeksforgeeks.org/python-pandas-series-str-slice/

In [119]:
for index, row in df.iterrows():
    #print(row["Date"])
    value_1 = row["Practitioner Code"]
    value_2 = row["Date"]
    print('CN.{}({})'.format(value_2,value_1))

CN.20221205(10042)
CN.20221205(10127)
CN.20221205(10174)
CN.20221205(10191)
CN.20221205(10193)
CN.20221205(10199)
CN.20221205(10483)
CN.20221205(1050)
CN.20221205(10520)
CN.20221205(10562)
CN.20221205(10656)
CN.20221205(10846)
CN.20221205(10885)
CN.20221205(11028)
CN.20221205(11032)
CN.20221205(11092)
CN.20221205(11195)
CN.20221205(11305)
CN.20221205(11403)
CN.20221205(11494)
CN.20221205(11561)
CN.20221205(11569)
CN.20221205(11607)
CN.20221205(11624)
CN.20221205(11656)
CN.20221205(11721)
CN.20221205(11803)
CN.20221205(11823)
CN.20221205(11833)
CN.20221205(11866)
CN.20221205(11919)
CN.20221205(1214)
CN.20221205(12155)
CN.20221205(12169)
CN.20221205(12199)
CN.20221205(12248)
CN.20221205(12276)
CN.20221205(12305)
CN.20221205(12388)
CN.20221205(12550)
CN.20221205(12749)
CN.20221205(12811)
CN.20221205(12842)
CN.20221205(12845)
CN.20221205(12952)
CN.20221205(13153)
CN.20221205(13191)
CN.20221205(13205)
CN.20221205(13241)
CN.20221205(13250)
CN.20221205(13281)
CN.20221205(13386)
CN.20221205(13541)
CN.20221205(13614)
CN.20221205(13728)
CN.20221205(13762)
CN.20221205(13852)
CN.20221205(14003)
CN.20221205(14034)
CN.20221205(14163)
CN.20221205(14407)
CN.20221205(14414)
CN.20221205(14416)
CN.20221205(14427)
CN.20221205(14450)
CN.20221205(14520)
CN.20221205(14532)
CN.20221205(14574)
CN.20221205(14576)
CN.20221205(14678)
CN.20221205(14691)
CN.20221205(1564)
CN.20221205(1721)
CN.20221205(1881)
CN.20221205(2054)
CN.20221205(2188)
CN.20221205(2215)
CN.20221205(2233)
CN.20221205(240)
CN.20221205(2428)
CN.20221205(2663)
CN.20221205(2694)
CN.20221205(2933)
CN.20221205(3053)
CN.20221205(3056)
CN.20221205(3076)
CN.20221205(3165)
CN.20221205(3449)
CN.20221205(3772)
CN.20221205(3957)
CN.20221205(4166)
CN.20221205(4218)
CN.20221205(421)
CN.20221205(4423)
CN.20221205(492)
CN.20221205(494)
CN.20221205(497)
CN.20221205(5071)
CN.20221205(5105)
CN.20221205(5193)
CN.20221205(5265)
CN.20221205(5310)
CN.20221205(5374)
CN.20221205(5579)
CN.20221205(5723)
CN.20221205(5751)
CN.20221205(5786)
CN.20221205(626)
CN.20221205(6304)
CN.20221205(6316)
CN.20221205(6346)
CN.20221205(6594)
CN.20221205(6710)
CN.20221205(7074)
CN.20221205(7802)
CN.20221205(8001)
CN.20221205(80031)
CN.20221205(80046)
CN.20221205(8005)
CN.20221205(80086)
CN.20221205(80093)
CN.20221205(80094)
CN.20221205(80121)
CN.20221205(80203)
CN.20221205(80217)
CN.20221205(80246)
CN.20221205(80255)
CN.20221205(80350)
CN.20221205(80456)
CN.20221205(80477)
CN.20221205(80523)
CN.20221205(80555)
CN.20221205(80618)
CN.20221205(80646)
CN.20221205(80649)
CN.20221205(80674)
CN.20221205(80802)
CN.20221205(80808)
CN.20221205(80839)
CN.20221205(80852)
CN.20221205(80864)
CN.20221205(80886)
CN.20221205(8135)
CN.20221205(8155)
CN.20221205(8203)
CN.20221205(8216)
CN.20221205(8223)
CN.20221205(844)
CN.20221205(8625)
CN.20221205(9003)
CN.20221205(9004)
CN.20221205(9137)
CN.20221205(9155)
CN.20221205(9190)
CN.20221205(9308)
CN.20221205(9331)
CN.20221205(9610)
CN.20221205(9636)

In [120]:
# for i in range(len(df)):
    
#     # print(df.loc[i, "Practitioner Code"], df.loc[i, "Date"])
#     value_1 = df.loc[i, "Practitioner Code"]
#     value_2 = df.loc[i, "Date"]
#     print(value_1)
#     # print('216.{}({})'.format(value_2,value_1))
    
#     # new_name = '{}_{}{}'.format(file_name, Sent,file_exc)
#     # os.rename(f, new_name)
#     # for f in os.listdir():
#     #     size = len(file_name_split)
#     #     if size == 8:
#     #         new_name = '216.{}({})'.format(value_2, value_1)
#     #         os.rename(f, new_name)
            
#     #     else:
#     #         pass